<div class="wrap">

    <div class="grid w-full gap-4" id="v0-nav">
        <div class="mb-4 border rounded-lg px-4 py-1 text-sm border-gray-800p-4 dark:border-gray-800">
            <ul class="flex flex-wrap items-center justify-center rounded-lg bg-muted p-1 text-muted-foreground gap-4"
                id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                <li class="mx-2 active">
                    <button class="capitalize active-btn" id="page-templates-tab" data-tabs-target="#page-templates"
                        type="button" role="tab" aria-controls="page-templates" aria-selected="false">
                        Page Templates </button>
                </li>
                <li class="mx-2 ">
                    <button class="capitalize " id="contact-forms-tab" data-tabs-target="#contact-forms" type="button"
                        role="tab" aria-controls="contact-forms" aria-selected="false">
                        Contact Forms </button>
                </li>
                <li class="mx-2 ">
                    <button class="capitalize " id="shortcode-search-tab" data-tabs-target="#shortcode-search"
                        type="button" role="tab" aria-controls="shortcode-search" aria-selected="false">
                        Shortcode Search </button>
                </li>
                <li class="mx-2 ">
                    <button class="capitalize " id="universal-search-tab" data-tabs-target="#universal-search"
                        type="button" role="tab" aria-controls="universal-search" aria-selected="false">
                        Universal Search </button>
                </li>
            </ul>
        </div>
    </div>

    <!-- Write tabbed navigateed block -->
    <div id="default-tab-content" class="container mx-auto">

        <div class=" tab-content" id="page-templates" role="tabpanel" aria-labelledby="page-templates-tab">
            <div class="container">
                <h1 class="text-center text-xl font-bold">Page Template Usage Report</h1>


                <!-- Loop Start -->
                <div class="rounded-md border border-slate-800 p-2 my-2 pb-4">
                    <div class="flex justify-between container mx-auto p-2 mb-2 items-center">
                        <h4 class="float-left text-xl">
                            No intro ( <span class="px-2">
                                custom-no-intro </span> )
                        </h4>
                        <p class="float-right text-cerise-red-700">
                            <strong class="px-2">
                                ( <span class="px-2">
                                    0 </span> )
                            </strong>
                            pages are using this template
                        </p>
                    </div>

                    <div class="pl-5 text-base text-rose-of-sharon-700">
                        There Are No Pages Using This Template, you should be able to safely delete it from your theme.
                    </div>

                </div>


                <div class="rounded-md border border-slate-800 p-2 my-2 pb-4">
                    <div class="flex justify-between container mx-auto p-2 mb-2 items-center">
                        <h4 class="float-left text-xl">
                            Content only ( <span class="px-2">
                                custom-content-only </span> )
                        </h4>
                        <p class="float-right text-cerise-red-700">
                            <strong class="px-2">
                                ( <span class="px-2">
                                    0 </span> )
                            </strong>
                            pages are using this template
                        </p>
                    </div>

                    <div class="pl-5 text-base text-rose-of-sharon-700">
                        There Are No Pages Using This Template, you should be able to safely delete it from your theme.
                    </div>

                </div>


                <div class="rounded-md border border-slate-800 p-2 my-2 pb-4">
                    <div class="flex justify-between container mx-auto p-2 mb-2 items-center">
                        <h4 class="float-left text-xl">
                            Overlaid header ( <span class="px-2">
                                custom-overlaid-header </span> )
                        </h4>
                        <p class="float-right text-cerise-red-700">
                            <strong class="px-2">
                                ( <span class="px-2">
                                    0 </span> )
                            </strong>
                            pages are using this template
                        </p>
                    </div>

                    <div class="pl-5 text-base text-rose-of-sharon-700">
                        There Are No Pages Using This Template, you should be able to safely delete it from your theme.
                    </div>

                </div>


                <!-- Loop End -->
            </div>
        </div>
        <div class="hidden tab-content" id="contact-forms" role="tabpanel" aria-labelledby="contact-forms-tab">
            <div class="container">
                Oops There is no Tab
            </div>
        </div>
        <div class="hidden tab-content" id="shortcode-search" role="tabpanel" aria-labelledby="shortcode-search-tab">
            <div class="container">
                Oops There is no Tab
            </div>
        </div>
        <div class="hidden tab-content" id="universal-search" role="tabpanel" aria-labelledby="universal-search-tab">
            <div class="container">
                Oops There is no Tab
            </div>
        </div>

    </div>
    <!-- Write tabbed navigateed block -->

</div>
